<div class="bg-white shadow-md rounded" id="vaults-table">
    <h2 class="text-2xl font-semibold px-6 py-4">Vaults</h2>
    <table class="min-w-full">
        <thead>
            <tr>
                <th class="px-6 py-3 bg-gray-200 text-left text-xs leading-4 font-semibold text-gray-700 uppercase tracking-wider">Name</th>
                <th class="px-6 py-3 bg-gray-200 text-left text-xs leading-4 font-semibold text-gray-700 uppercase tracking-wider">Description</th>
            </tr>
        </thead>
        <tbody>
            {% for vault in vaults %}
                <tr class="border-b">
                    <td class="px-6 py-4 whitespace-no-wrap">{{ vault.name }}</td>
                    <td class="px-6 py-4 whitespace-no-wrap">{{ vault.description }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>